Hello {{{ NAME }}}

{{{ SENDER }}} just added you to the {{{ ROOMURI }}} chat on Gitter.

To visit the room, go to https://gitter.im/{{{ ROOMURI }}}.

To unsubscribe from these notifications, click here: {{{ UNSUB }}}
