Hi there,

This is what you missed while you were away.

{{{ PLAINTEXT }}}

Kind regards,
Gitter

--

To unsubscribe from these notifications, click here: {{{ UNSUB }}}

--

Follow us on Twitter
twitter.com/gitchat
